<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Productivity</key>
	<array>
		<dict>
			<key>title</key>
			<string>生产率-可提高的收入</string>
			<key>desc</key>
			<string>生产率desc</string>
			<key>icon</key>
			<string>area-icon-productivity</string>
			<key>improvement</key>
			<array>
				<dict>
					<key>desc</key>
					<string>您每车每年的营运收入是多少？</string>
					<key>name</key>
					<string>incomePerTruckPerYear</string>
					<key>params</key>
					<dict>
						<key>decimals</key>
						<integer>0</integer>
						<key>default</key>
						<integer>3000000</integer>
						<key>format</key>
						<string>u</string>
						<key>max</key>
						<integer>5000000</integer>
						<key>min</key>
						<integer>800000</integer>
						<key>step</key>
						<integer>10000</integer>
					</dict>
					<key>title</key>
					<string>营运收入/年</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>您的车辆每周营运几天？</string>
					<key>name</key>
					<string>incomDaysPerWeek</string>
					<key>params</key>
					<dict>
						<key>decimals</key>
						<integer>0</integer>
						<key>default</key>
						<integer>7</integer>
						<key>format</key>
						<string>d</string>
						<key>max</key>
						<integer>7</integer>
						<key>min</key>
						<integer>1</integer>
						<key>step</key>
						<integer>1</integer>
					</dict>
					<key>title</key>
					<string>营运天数/周</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>您的车辆每年营运多少周？</string>
					<key>name</key>
					<string>incomWeeksPerYear</string>
					<key>params</key>
					<dict>
						<key>decimals</key>
						<integer>0</integer>
						<key>default</key>
						<integer>48</integer>
						<key>format</key>
						<string>d</string>
						<key>max</key>
						<integer>52</integer>
						<key>min</key>
						<integer>20</integer>
						<key>step</key>
						<integer>1</integer>
					</dict>
					<key>title</key>
					<string>营运周数/年</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>每车每年营运天数</string>
					<key>name</key>
					<string>incomDaysPerTruckPerYear</string>
					<key>params</key>
					<dict>
						<key>expression</key>
						<string>incomDaysPerWeek*incomWeeksPerYear</string>
					</dict>
					<key>title</key>
					<string>营运天数/年</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>每车每天营运收入</string>
					<key>name</key>
					<string>incomPerTruckPerDay</string>
					<key>params</key>
					<dict>
						<key>expression</key>
						<string>incomePerTruckPerYear/incomDaysPerWeek*incomWeeksPerYear</string>
					</dict>
					<key>title</key>
					<string>营运收入/天</string>
				</dict>
			</array>
			<key>improvementIncome</key>
			<dict>
				<key>desc</key>
				<string>每车每年可以增加的营运收入</string>
				<key>params</key>
				<dict/>
				<key>title</key>
				<string></string>
			</dict>
			<key>improvementPotential</key>
			<dict>
				<key>desc</key>
				<string>您认为我们的产品可以帮助您提高多少百分点的生产率？</string>
				<key>params</key>
				<dict>
					<key>decimals</key>
					<integer>0</integer>
					<key>default</key>
					<real>0.01</real>
					<key>format</key>
					<string>p</string>
					<key>max</key>
					<real>0.25</real>
					<key>min</key>
					<real>0</real>
					<key>step</key>
					<real>0.01</real>
				</dict>
				<key>title</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>生产率-可节约的成本</string>
			<key>desc</key>
			<string>生产率desc</string>
			<key>icon</key>
			<string>area-icon-productivity</string>
			<key>improvement</key>
			<array>
				<dict>
					<key>desc</key>
					<string>您每车每年的营运收入是多少？</string>
					<key>name</key>
					<string>incomePerTruckPerYear</string>
					<key>params</key>
					<dict>
						<key>decimals</key>
						<integer>0</integer>
						<key>default</key>
						<real>6000000</real>
						<key>format</key>
						<string>u</string>
						<key>max</key>
						<integer>5000000</integer>
						<key>min</key>
						<integer>800000</integer>
						<key>step</key>
						<integer>10000</integer>
					</dict>
					<key>title</key>
					<string>营运收入/年</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>您的车辆每周营运几天？</string>
					<key>name</key>
					<string>incomDaysPerWeek</string>
					<key>params</key>
					<dict>
						<key>decimals</key>
						<integer>0</integer>
						<key>default</key>
						<integer>5</integer>
						<key>format</key>
						<string>d</string>
						<key>max</key>
						<integer>7</integer>
						<key>min</key>
						<integer>1</integer>
						<key>step</key>
						<integer>1</integer>
					</dict>
					<key>title</key>
					<string>营运天数/周</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>您的车辆每年营运多少周？</string>
					<key>name</key>
					<string>incomWeeksPerYear</string>
					<key>params</key>
					<dict>
						<key>decimals</key>
						<integer>0</integer>
						<key>default</key>
						<integer>36</integer>
						<key>format</key>
						<string>d</string>
						<key>max</key>
						<integer>52</integer>
						<key>min</key>
						<integer>20</integer>
						<key>step</key>
						<integer>1</integer>
					</dict>
					<key>title</key>
					<string>营运周数/年</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>每车每年营运天数</string>
					<key>name</key>
					<string>incomDaysPerTruckPerYear</string>
					<key>params</key>
					<dict>
						<key>expression</key>
						<string>incomDaysPerWeek*incomWeeksPerYear</string>
					</dict>
					<key>title</key>
					<string>营运天数/年</string>
				</dict>
				<dict>
					<key>desc</key>
					<string>每车每天营运收入</string>
					<key>name</key>
					<string>incomPerTruckPerDay</string>
					<key>params</key>
					<dict>
						<key>expression</key>
						<string>incomePerTruckPerYear/incomDaysPerWeek*incomWeeksPerYear</string>
					</dict>
					<key>title</key>
					<string>营运收入/天</string>
				</dict>
			</array>
			<key>improvementIncome</key>
			<dict>
				<key>desc</key>
				<string>每车每年可以增加的营运收入</string>
				<key>params</key>
				<dict/>
				<key>title</key>
				<string></string>
			</dict>
			<key>improvementPotential</key>
			<dict>
				<key>desc</key>
				<string>您认为我们的产品可以帮助您提高多少百分点的生产率？</string>
				<key>params</key>
				<dict>
					<key>decimals</key>
					<integer>0</integer>
					<key>default</key>
					<real>0.01</real>
					<key>format</key>
					<string>p</string>
					<key>max</key>
					<real>0.25</real>
					<key>min</key>
					<real>0</real>
					<key>step</key>
					<real>0.01</real>
				</dict>
				<key>title</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
